<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="jdbc.connection" additivity="false" level="warn">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="jdbc.resultset" additivity="false" level="warn">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="jdbc.audit" additivity="false" level="warn">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="jdbc.sqlonly" additivity="false" level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="jdbc.sqltiming" additivity="false" level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS , GMT+8} [%thread] [%c:%L]-[%p]
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="R"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>ipinfo.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS , GMT+8} [%thread] [%c:%L]-[%p]
				%m%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>ipinfo.%d.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="R" />
	</root>
</configuration>
